@import "mixins/base-mixins";
@import "mixins/media-mixins";

html, body {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	outline: 0;
}

li {
	list-style-type: none;
}




.header {
		background-image: url(../images/desktop/header_back.jpg);
		background-position: 50% 0;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		background-repeat: no-repeat;
		height: 917px;
	
	&__top {
		display: flex;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-align-items: center;
		        align-items: center;
		height: 160px;
	}

	&__phone {
		margin-top: -12px;
		padding-right: 14px;
	}

	&__phone p{
		color: #FFF;
		font-size: 36px;
		font-weight: bold;
		text-align: right;
		word-spacing: 32px;
	}

	&__titel {
		margin-top: 180px;
		margin-left: 20px;
	}

	&__titel span{
		color: #fff; 
		font-family: "Roboto";
		text-shadow: 5px 5px 14px rgba(0,0,0,.2);
		text-align: left;
	    font-size: 65px;
	    font-weight: bold;
	    
	    display: block;
	    
	    position: relative;
	    top: 4px; 
	}

	&__titel h1{
		color: #fff; 
		font-family: "Roboto";
		font-size: 45px;
		font-weight: bold;
		text-shadow: 5px 5px 14px rgba(0,0,0,.2);
		text-align: left;
		
		position: relative;
		top: 90px; 
		left: -21px;

	}

	&__titel h2{
		color: #666;
		font-family: "Roboto";
		font-size: 20px;
		font-weight: bold;
		text-align: left;
		margin: 100px 0 25px -21px;
	}

	&__titel p{
		color: #fff;
		font-family: "Roboto";
		font-size: 25px;
		text-shadow: 3px 3px 6px rgba(0,0,0,.2); 
		text-align: left;
		margin: 0 0 0 -21px;
		font-weight: 500;
	}


}

.nav {

	&____button {
		display: none;
	}
	
	&__item{
		display: inline-block;
		margin-right: 53px;
	}

	&__item a {
		font-weight: bold;
		font-size: 24px;
		color: #FFF;
		-webkit-transition: color .4s;
		   -moz-transition: color .4s;
		    -ms-transition: color .4s;
		     -o-transition: color .4s;
		        transition: color .4s;
	}

	&__item a span:nth-child(1){
		color: #2fb3e1;
		font-size: inherit;
	}

	&__item a:hover span:nth-child(1){
		color: #fff;
		font-size: inherit;
	}

	&__item a span:nth-child(2){
		color: #7467bf;
		font-size: inherit;
	}

	&__item a:hover span:nth-child(2){
		color: #8af04d;
		font-size: inherit;
	}

	&__item a span:nth-child(3){
		color: #8af04d;
		font-size: inherit;
	}

	&__item a:hover span:nth-child(3){
		color: #7467bf;
		font-size: inherit;
	}

	&__item a span:nth-child(4){
		color: #fff;
		font-size: inherit;
	}

	&__item a:hover span:nth-child(4){
		color: #2fb3e1;
		font-size: inherit;
	}

	&__item a:hover {
		color: #2fb3e1;
	}

	&__item--active {
		border-bottom: 2px solid #fff;
	}
}


@include max_1550 {
	.header__top {
    	padding: 0 50px;
	}

	.header__phone p {
		font-size: 22px;
	}
	.nav {
		&__item a {
			font-size: 18px;
		}
	}
	.header__titel {
		margin-left: 70px;
		
		span {
			font-size: 60px;
			top: 15px;
		}
		h1 {
			font-size: 40px;
		}
		h2 {
			font-size: 18px;
		}
		p {
			font-size: 22px;
		}
	}

}


@include max_1200 {
 	.section.header {
		height: 600px;
	}

	.header__phone p {
		font-size: 20px;
	}

	.header__top {
	    height: 105px;   
	}

	.nav {
		&__item a {
			font-size: 16px;
		}
	}

	.header__titel {
		margin: 50px 0 0 70px;
		
		
	}
}

@include max_1100 {
 	.section.header {
	height: 600px;
}

	.header__phone p {
		font-size: 17px;
	}

	.header__top {
	    height: 100px;   
	}

	.nav {

		&__item {
		    margin-right: 26px;
		} 

		&__item a {
			font-size: 16px;
		}
	}

	.header__titel {
		margin: 100px 0 0 70px;
		span {
			font-size: 55px;
			top: 10px;
		}

		h1 {
			font-size: 38px;
		}

		h2 {
			font-size: 18px;
		}

		p {
			font-size: 20px;
		}
	}
}

@include max_900 {


	.header {
		height: 450px;
		
		&__top {
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			height: 150px;
			padding: 0;
			
		}

		&__phone {
			margin: 0 auto;
		}

		&__phone p {
			font-size: 18px;
		    padding-right: 0;
		    padding-top: 7px;
		}

		&__titel {
			margin: 70px 0 0 70px;
			
			span {
				font-size: 38px;
				top: 7px;
			}

			h1 {
				font-size: 27px;
			}

			h2 {
				font-size: 17px;
				margin: 100px 0 0 -21px;
			}

			p {
				font-size: 19px;
				margin-top: 7px;
			}
		}
	}

	
	.nav {
	    -webkit-order: 2;
	        -ms-order: 2;
	            order: 2;
	    width: 100%;
	    
		&__list {
			background-color: #E75593;
			height: 320px;
			position: relative;
			top: 5px;
			z-index: 1000;
			width: 100%;

		}


		&__item {
			display: block;
			padding-top: 30px;
			padding-left: 40px;
			position: relative;
		}


		&__item a {
			font-size: 16px;
		}

		&__button {
			float: right;
			margin: -40px 17px 0 0;
			position: relative;
			z-index: 100;
			cursor: pointer;
		}

		&__button span:nth-of-type(1) {
			display: block;
			width: 30px;
			height: 2px;
			background-color: #FFF;
			position: relative;	
		}

		&__button span:nth-of-type(2) {
			display: block;
			width: 30px;
			height: 2px;
			background-color: #FFF;	
			margin-top: 10px;
			position: relative;
		}

		&__button span:nth-of-type(3) {
			display: block;
			width: 30px;
			height: 2px;
			background-color: #FFF;	
			margin-top: 10px;
			position: relative;
		}

		&__button:hover span:nth-of-type(1) {
			width: 30px;
			height: 3px;
			background-color: #7467BF;
			-webkit-transition: all .5s ease;
			   -moz-transition: all .5s ease;
			    -ms-transition: all .5s ease;
			     -o-transition: all .5s ease;
			        transition: all .5s ease;
		}

		&__button:hover span:nth-of-type(2) {
			width: 30px;
			height: 3px;
			background-color: #E1DE37;
			-webkit-transition: all .5s ease;
			   -moz-transition: all .5s ease;
			    -ms-transition: all .5s ease;
			     -o-transition: all .5s ease;
			        transition: all .5s ease;
		}

		&__button:hover span:nth-of-type(3) {
			width: 30px;
			height: 3px;
			background-color: #fff;
			-webkit-transition: all .5s ease;
			   -moz-transition: all .5s ease;
			    -ms-transition: all .5s ease;
			     -o-transition: all .5s ease;
			        transition: all .5s ease;
		}
	}
}



@include max_650 {
	.section.header {
		height: 350px;
	}

	.header {
		background-image: none;
		background-color: #2FB4E1;
	} 

	.nav__button {
	    margin: -35px 17px 0 0;
	}

	.nav__list {
	    height: 305px;
	    top: 0;
	}

	.header__phone {
	    margin: -4px auto 0;
	}

	.header__phone p{
	    font-size: 16px;
	}

	.header__titel {
		margin: -125px auto;
		
		span {
			font-size: 25px;
			top: 0;
			text-align: center;
		}

		h1 {
			font-size: 20px;
			text-align: center;
			left: 0;
		}

		h2 {
			font-size: 16px;
			margin: 100px 0 15px -21px;
			text-align: center;
			margin: 100px 0 15px;
		}

		p {
			font-size: 16px;
			margin-top: 7px;
			font-weight: bold;
			margin: 0;
			text-align: center;
		}
	}

}