@import "mixins/base-mixins";
@import "mixins/media-mixins";

html, body {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	outline: 0;
}

li {
	list-style-type: none;
}


.header {
	background-image: url(../images/desktop/header_back.jpg);
	background-position: 50% 0;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	
	&__top {
		display: flex;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-align-items: center;
		        align-items: center;
		height: 160px;
	}

	&__phone {
		margin-top: -12px;
		padding-right: 14px;
	}

	&__phone p{
		color: #FFF;
		font-size: 36px;
		font-weight: bold;
		text-align: right;
		word-spacing: 32px;
	}

	&__titel {
		margin-top: 180px;
		margin-left: 20px;
	}

	&__titel span{
		color: #fff; 
		font-family: "Roboto";
		text-shadow: 5px 5px 14px rgba(0,0,0,.2);
		text-align: left;
	    font-size: 100px;
	    font-weight: bold;
	    
	    display: block;
	    
	    position: relative;
	    top: 4px; 
	}

	&__titel h1{
		color: #fff; 
		font-family: "Roboto";
		font-size: 80px;
		font-weight: bold;
		text-shadow: 5px 5px 14px rgba(0,0,0,.2);
		text-align: left;
		
		position: relative;
		top: 100px; 
		left: -21px;

	}

	&__titel h2{
		color: #4b4b4b; 
		font-family: "Roboto";
		font-size: 20px;
		font-weight: bold;
		text-align: left;
		margin: 95px 0 0 -21px;
	}

	&__titel p{
		color: #e65593;
		font-family: "Roboto";
		font-size: 60px;
		text-shadow: 5px 5px 14px rgba(0,0,0,.2); 
		text-align: left;
		margin: 0 0 0 -21px;
	}


}

.nav {

	&____button {
		display: none;
	}
	
	&__item{
		display: inline-block;
		margin-right: 53px;
	}

	&__item a {
		font-weight: bold;
		font-size: 24px;
		color: #FFF;
		-webkit-transition: color .4s;
		   -moz-transition: color .4s;
		    -ms-transition: color .4s;
		     -o-transition: color .4s;
		        transition: color .4s;
	}

	&__item a span:nth-child(1){
		color: #2fb3e1;
		font-size: inherit;
	}

	&__item a:hover span:nth-child(1){
		color: #fff;
		font-size: inherit;
	}

	&__item a span:nth-child(2){
		color: #7467bf;
		font-size: inherit;
	}

	&__item a:hover span:nth-child(2){
		color: #8af04d;
		font-size: inherit;
	}

	&__item a span:nth-child(3){
		color: #8af04d;
		font-size: inherit;
	}

	&__item a:hover span:nth-child(3){
		color: #7467bf;
		font-size: inherit;
	}

	&__item a span:nth-child(4){
		color: #fff;
		font-size: inherit;
	}

	&__item a:hover span:nth-child(4){
		color: #2fb3e1;
		font-size: inherit;
	}

	&__item a:hover {
		color: #2fb3e1;
	}

	&__item--active {
		border-bottom: 2px solid #fff;
	}
}