@import "mixins/base-mixins";
@import "mixins/media-mixins";
/* @import "sprites/png-sprite";  */


@include max_1300 {
	.header__phone p {
		font-size: 30px;
	}
	.nav {
		&__item a {
			font-size: 20px;
		}
	}
}

@include max_1200 {
	.header__phone p {
		font-size: 25px;
	}
	.nav {
		&__item a {
			font-size: 18px;
		}
	}
}

@include max_1100 {
	.header__phone p {
		font-size: 20px;
	}
	.nav {
		&__item a {
			font-size: 16px;
		}
	}
}

@include max_900 {

	.header {
		&__m-wrap {
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			height: 150px;
		}

		&__phone {
			margin: 0 auto;
		}

		&__phone p {
			font-size: 20px;
			padding-right: 0;
			padding-top: 30px;
		}
	}
	
	.nav {
	    -webkit-order: 2;
	        -ms-order: 2;
	            order: 2;
	    width: 100%;
	    
		&__list {
			background-color: #E75593;
			height: 300px;
			position: relative;
			top: 30px;
		}


		&__item {
			display: block;
			padding-top: 30px;
			padding-left: 40px;
			position: relative;
		}

		&__item a {
			font-size: 16px;
		}

		&__button {
			float: right;
			margin: 10px 30px 0 0;
			position: relative;
			z-index: 100;
			cursor: pointer;
		}

		&__button span:nth-of-type(1)::after {
			content: "";
			display: block;
			width: 30px;
			height: 2px;
			background-color: #FFF;	
		}

		&__button span:nth-of-type(2)::after {
			content: "";
			display: block;
			width: 30px;
			height: 2px;
			background-color: #FFF;	
			margin-top: 10px;
		}

		&__button span:nth-of-type(3)::after {
			content: "";
			display: block;
			width: 30px;
			height: 2px;
			background-color: #FFF;	
			margin-top: 10px;
		}

		&__button:hover span:nth-of-type(1)::after {
			width: 30px;
			height: 3px;
			background-color: #2FB4E1;
			-webkit-transition: all .5s ease;
			   -moz-transition: all .5s ease;
			    -ms-transition: all .5s ease;
			     -o-transition: all .5s ease;
			        transition: all .5s ease;
		}

		&__button:hover span:nth-of-type(2)::after {
			width: 30px;
			height: 3px;
			background-color: #E1DE37;
			-webkit-transition: all .5s ease;
			   -moz-transition: all .5s ease;
			    -ms-transition: all .5s ease;
			     -o-transition: all .5s ease;
			        transition: all .5s ease;
		}

		&__button:hover span:nth-of-type(3)::after {
			width: 30px;
			height: 3px;
			background-color: #fff;
			-webkit-transition: all .5s ease;
			   -moz-transition: all .5s ease;
			    -ms-transition: all .5s ease;
			     -o-transition: all .5s ease;
			        transition: all .5s ease;
		}
	}
}