@import "mixins/base-mixins";
@import "mixins/media-mixins";
/* @import "sprites/png-sprite";  */


@include max_1300 {
	.header__phone p {
		font-size: 30px;
	}
	.nav {
		&__item a {
			font-size: 20px;
		}
	}
	.header__titel {
		margin-left: 30px;
		span {
			font-size: 135px;
		}
		h1 {
			font-size: 90px;
		}
		h2 {
			font-size: 33px;
		}
		p {
			font-size: 82px;
		}
	}

}

@include max_1200 {
	.section.header {
		height: 650px;
	}

	.header__phone p {
		font-size: 25px;
	}

	.header__top {
	    height: 100px;   
	}

	.nav {
		&__item a {
			font-size: 18px;
		}
	}

	.header__titel {
		margin: 50px auto 0;
		span {
			font-size: 120px;
			text-align: center;
			top: 30px;
		}
		h1 {
			font-size: 80px;
			text-align: center;
		}
		h2 {
			font-size: 30px;
			text-align: center;
		}
		p {
			font-size: 70px;
			text-align: center;
		}
	}
}

@include max_1100 {
	.section.header {
		height: 600px;
	}

	.header__phone p {
		font-size: 20px;
	}
	.nav {
		&__item a {
			font-size: 16px;
		}
	}

	.header__titel {
		margin: 0 auto 0;
		span {
			font-size: 110px;
			top: 30px;
		}

		h1 {
			font-size: 70px;
		}

		h2 {
			font-size: 27px;
		}

		p {
			font-size: 60px;
		}
	}
}

@include max_900 {
	.section.header {
		height: 450px;
		min-height: 450px;
	}

	.header {
		&__top {
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			height: 150px;
		}

		&__phone {
			margin: 0 auto;
		}

		&__phone p {
			font-size: 20px;
			padding-right: 0;
			padding-top: 30px;
		}

		&__titel {
			margin: -50px auto 0;
			span {
				font-size: 90px;
				top: 20px;
			}

			h1 {
				font-size: 50px;
			}

			h2 {
				font-size: 20px;
			}

			p {
				font-size: 40px;
			}
		}
	}

	
	.nav {
	    -webkit-order: 2;
	        -ms-order: 2;
	            order: 2;
	    width: 100%;
	    
		&__list {
			background-color: #E75593;
			height: 300px;
			position: relative;
			top: 10px;
			z-index: 1000;
		}


		&__item {
			display: block;
			padding-top: 30px;
			padding-left: 40px;
			position: relative;
		}

		&__item a {
			font-size: 16px;
		}

		&__button {
			float: right;
			margin: -25px 17px 0 0;
			position: relative;
			z-index: 100;
			cursor: pointer;
		}

		&__button span:nth-of-type(1)::after {
			content: "";
			display: block;
			width: 30px;
			height: 2px;
			background-color: #FFF;	
		}

		&__button span:nth-of-type(2)::after {
			content: "";
			display: block;
			width: 30px;
			height: 2px;
			background-color: #FFF;	
			margin-top: 10px;
		}

		&__button span:nth-of-type(3)::after {
			content: "";
			display: block;
			width: 30px;
			height: 2px;
			background-color: #FFF;	
			margin-top: 10px;
		}

		&__button:hover span:nth-of-type(1)::after {
			width: 30px;
			height: 3px;
			background-color: #2FB4E1;
			-webkit-transition: all .5s ease;
			   -moz-transition: all .5s ease;
			    -ms-transition: all .5s ease;
			     -o-transition: all .5s ease;
			        transition: all .5s ease;
		}

		&__button:hover span:nth-of-type(2)::after {
			width: 30px;
			height: 3px;
			background-color: #E1DE37;
			-webkit-transition: all .5s ease;
			   -moz-transition: all .5s ease;
			    -ms-transition: all .5s ease;
			     -o-transition: all .5s ease;
			        transition: all .5s ease;
		}

		&__button:hover span:nth-of-type(3)::after {
			width: 30px;
			height: 3px;
			background-color: #fff;
			-webkit-transition: all .5s ease;
			   -moz-transition: all .5s ease;
			    -ms-transition: all .5s ease;
			     -o-transition: all .5s ease;
			        transition: all .5s ease;
		}
	}
}

@include max_600 {
	.section.header {
		height: 350px;
		min-height: 350px;
	}

	.nav__button {
	    margin: -24px 17px 0 0;
	}

	.nav__list {
	    height: 305px;
	    top: 12px;
	}

	.header__phone {
	    margin: -16px auto 0;
	}

	.header__titel {
		
		span {
			font-size: 45px;
			top: 10px;
		}

		h1 {
			font-size: 33px;
		}

		h2 {
			font-size: 16px;
		}

		p {
			font-size: 25px;
			margin-top: 7px;
		}
	}
}