@import "mixins/base-mixins";
@import "mixins/media-mixins";
/* @import "sprites/png-sprite";  */



.bitten {
	background-image: url(../images/desktop/paralax_back.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: 50% 0;
	height: 917px;
	
	&__m-wrap h3{
	    font-size: 40px;
		font-weight: bold;
		margin-top: 118px;
		color: #fff;
	}

	&__m-wrap h3 span:nth-child(1){
		color: #2fb3e1;
		position: relative;
		display: inline-block;
	}

	&__m-wrap h3 span:nth-child(2){
		color: #7467bf;
		position: relative;
		display: inline-block;
	}

	&__m-wrap h3 span:nth-child(3){
		color: #8af04d;
		position: relative;
		display: inline-block;
	}

	&__m-wrap h3 span:nth-child(4){
		color: #e75693;
		position: relative;
		display: inline-block;
	}

	
	&__content {
		margin-top: 110px;
		/* padding: 0 20px; */
		display: flex;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;

	}

	&__content .front, .back {
		-webkit-border-radius: 30px;
	        	border-radius: 30px;
	}

	&__prise .front {
		background-color: #2fb3e1;
	}

	&__prise .back {
		background-color: #8af04d;
		
	}

	&__cloud .front{
		background-color: #7467bf;
	}

	&__cloud .back {
		background-color: #e75693;
	}

	&__uhu .front {
		background-color: #8af04d;
	}

	&__uhu .back {
		background-color: #2fb3e1;
	}

	&__time .front {
		background-color: #e75693;
	}

	&__time .back {
		background-color: #7467bf;
	}
	
}

.flip, .front, .back {
	height: 335px !important;
	width: 335px !important;
}


.front img {
	display: block;
	height: 31%;
    margin: 80px auto 10px;
}

.back img {
	display: block;
	height: 55%;
    padding: 80px 0 10px 0;
    margin: 0 auto;
}

.front p {
	color: #FFF;
	padding: 0 20px 0;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}


.back p {
	color: #FFF;
	padding: 0 20px 0;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}


@include max_1550 {

	.bitten__content {
	    padding: 0 20px;
	}

	.flip, .front, .back {
		height: 300px !important;
		width: 300px !important;
	}


	.front img, .back img {
		padding: 50px 0 15px 0;
		height: 160px;
		margin: 0 auto;
	}

	.front p {
		padding: 0 20px 0;
		font-size: 25px;
	}

	.back p {
		padding: 0 20px 0;
		font-size: 16px;
	}

	
}

@include max_1300 {

	.flip, .front, .back {
		height: 260px !important;
		width: 260px !important;
	}


	.front img, .back img {
		padding: 40px 0 15px 0;
		height: 130px;
	}

}

@include max_1200 {


	.bitten {
		height: 770px;
		
		&__m-wrap h3{
		    font-size: 40px;
			margin-top: 30px;
		}

		&__m-wrap .was {
		    font-size: 20px;
			top: -13px;
		}

		&__m-wrap .an {
		    font-size: 20px;
		}

		&__content {
			-webkit-justify-content: space-around;
			        justify-content: space-around;
			margin-top: 50px;
		}

	}

	
	.flip{
		margin: 0 15px 50px;
	}

	.flip, .front, .back {
		height: 260px !important;
		width: 260px !important;
	}

	.front p {
		font-size: 22px;
	}


}


@include max_650 {


	.bitten {
		background-image: none;
		background-color: #FEDE19;
		height: 1400px;

		&__m-wrap h3{
		    font-size: 40px;
			margin-top: 50px;
		}

		&__m-wrap .was {
		    font-size: 20px;
			top: -13px;
		}

		&__m-wrap .an {
		    font-size: 20px;
		}

		&__content {
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
		    -webkit-align-items: center;
		            align-items: center;
			-webkit-justify-content: space-around;
			        justify-content: space-around;
			margin-top: 50px;
		}

	}

}

@include max_480 {


	.bitten {
		height: 1300px;
		
		&__m-wrap h3{
		    font-size: 30px;
			margin-top: 40px;
		}

		&__m-wrap .was {
		    font-size: 16px;
			top: -10px;
		}

		&__m-wrap .an {
		    font-size: 16px;
		}

		&__content {
			margin-top: 50px;
		}

	}

	
	.flip{
		margin: 0 15px 50px;
	}

	.flip, .front, .back {
		height: 230px !important;
		width: 230px !important;
	}

	.front p {
		font-size: 22px;
	}

	.front img, .back img {
		padding: 25px 0 15px 0;
		height: 100px;
	}


}

@include max_360 {

	.bitten {
	  	height: 1260px;
	}
}