@import "mixins/base-mixins";
@import "mixins/media-mixins";
/* @import "sprites/png-sprite";  */

section.module.parallax{
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
}


.parallax-1{
	background-image: url(../../images/desktop/warum_back.jpg);
	height: 917px;
}

.warum {

	&__m-wrap {
		display: flex;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		padding: 15px 10px 0;
		  
	}

	&__blue {
		height: 387px;
		width: 48%;
	    margin: 27px -7px 20px;
	    padding: 32px 58px 0;
	    border: 2px solid #fff;
		-webkit-border-radius: 30px;
		        border-radius: 30px;
	}

	&__pink {
		height: 387px;
		width: 48%;
	    margin: 27px -7px 20px;
	    padding: 32px 58px 0;
	    border: 2px solid #fff;
		-webkit-border-radius: 30px;
		        border-radius: 30px;
	}

	&__blue {
		background-color: #2fb3e1;
	}

	&__pink {
		background-color: #e75693;
	}

	&__titel:after {
		content: '';
		display: table;
		clear: both;
	}

	&__titel span {
		float: left;
		font-size: 60px;
		color: #FFF;
	}

	&__titel h3 {
		font-size: 23px;
		color: #FFF;
		text-align: left;
		line-height: 27px;
		position: relative;
		top: 8px;
		left: 15px;
		padding: 0 0 10px;
	}

	&__blue p {
		font-size: 18px;
		color: #FFF;
		text-align: justify;
	}

	&__pink p {
		font-size: 18px;
		color: #FFF;
		text-align: justify;
	}


	&__footer img{
		display: block;
		margin: 53px 0 0 6px;
		float: left;
	}

	&__footer span{
		font-size: 18px;
		color: #FFF;
		left: 10px;
	    position: relative;
	    top: 51px;
	    z-index: 1;
	    font-weight: bold;
	    text-align: justify;
	}

/* 	&__footer {
	margin-top: 0;
}

&__pink-first-row {
	margin-top: 56px;
}

&__pink-second-row {
	margin-top: 37px;
}

&__blue-second-row {
	margin-top: 18px;
} */

}


@include max_1450 {

	.warum {

		&__m-wrap {
		-webkit-justify-content: space-around;
		        justify-content: space-around;	  
		}

		&__blue {
			height: auto;
			padding: 32px 58px 50px;
		}

		&__pink {
			height: auto;
			padding: 32px 58px 50px;
		}

		/* &__footer {
		    margin-top: -20px;
		}
		
		&__pink-first-row {
		margin-top: 37px;
		}
		
		&__pink-second-row {
			margin-top: 16px;
		}
		
		&__blue-second-row {
			margin-top: -22px;
		} */
	}
}


@include max_1300 {
	.section.warum {
			height: 1800px;
			background-repeat: repeat;
		}

	.warum {

		&__m-wrap {
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
		    -webkit-align-items: center;
		            align-items: center;
		}

		&__blue {
			max-width: 590px;
			width: 100%;
			height: auto;
			padding: 32px 58px 50px;
			margin: 30px 10px 30px;
		}

		&__pink {
			max-width: 590px;
			width: 100%;
			height: auto;
			padding: 32px 58px 50px;
			margin: 30px 10px 30px;
		}
	}

}



@include max_650 {
	.section.warum {
			height: 1600px;
			background-image: none;
			background-color: #BBD5E4;
	}

	.warum__m-wrap {
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}

	.warum__blue{
		max-width: 590px;
		height: auto;
		padding: 20px 20px 85px;
		margin: 30px 10px 30px;
	}

	.warum__pink {
		max-width: 590px;
		height: auto;
		padding: 20px 20px 85px;
		margin: 30px 10px 30px;
	}

	.warum__titel span {
	   display: none;
	}

	.warum__titel h3 {
	    font-size: 15px;
	    font-weight: bold;
	    margin: 8px auto 10px;
	    text-align: center;
	    left: 0;
	    top: 0;
	    line-height: 20px;
	}

	.warum__pink p {
		text-align: center;
	}

	.warum__blue p {
		text-align: center;
	}

	.warum__footer,
	.warum__pink-first-row,
	.warum__pink-second-row,
	.warum__blue-second-row {
	    margin-top: 0;
	}


	.warum__footer img {
	    margin: 15px auto -30px;
	    width: 35px;
	    float: none;
	}


	.warum__footer span {
	    left: 0;
	}

}

@include max_600 {
	.section.warum {
	    height: 1800px;
	}
}

@include max_480 {
	.section.warum {
	    height: 2060px;
	}
}

@include max_400 {
	.section.warum {
	    height: 2100px;
	}
}

@include max_390 {
	.section.warum {
	    height: 2180px;
	}
}

@include max_380 {
	.section.warum {
	    height: 2240px;
	}
}

@include max_370 {
	.section.warum {
	    height: 2260px;
	}
}

@include max_360 {
	.section.warum {
	    height: 2240px;
	}
}

@include max_340 {
	.section.warum {
	    height: 2575px;
	}
} 

/* @include max_320 {
	.section.warum {
	    height: 2360px;
	}
} */

/* @include max_280 {
	.section.warum {
	    height: 2850px;
	}
} */