@import "mixins/base-mixins";
@import "mixins/media-mixins";
/* @import "sprites/png-sprite";  */

.was-gibt {
	background-image: url(../../images/desktop/was-gibt_back.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: 50% 0;
	height: 917px;


	&__box {
		margin-top: 300px;
	} 

	&__list {
		display: flex;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
	} 

	&__item {
		height: auto;
		max-width: 850px;
		width: 100%;
	}

	&__item span{
		float: left;
		font-size: 62px;
		color: #FFF;
		font-weight: bold;
	}

	&__item  p {
		font-size: 20px;
		color: #FFF;
		font-weight: bold;
		padding: 10px 0;
	}

	&__back_blau {
		background-color: #7467bf;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		padding: 30px 70px 30px 240px;
		margin: 0 20px 50px 0;
	}
  

	&__back_red {
		background-color: #e75693;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
		padding: 30px 240px 30px 70px;
		margin: 0 0 50px 20px;
	}

	&__back_yellow {
		background-color: #fedb18;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		padding: 30px 70px 30px 240px;
		margin: 0 20px 50px 0;
	}

	&__back_green {
		background-color: #8af04d;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
		padding: 30px 240px 30px 70px;
		margin: 0 0 50px 20px;
	}

	
	&__m-wrap h3 {
		color: #6ccef0; 
		font-size: 40px;
		text-decoration: underline;
		text-align: left;
		margin-top: 150px;
		font-weight: bold;
	}
}

@include max_1550 {

	.was-gibt {

		&__m-wrap h3 {
			font-size: 40px;
			padding: 0 0 0 30px;
		}

		&__box {
			margin-top: 250px;
		}

		&__item span{
			font-size: 50px;
		}

		&__item  p {
			font-size: 18px;
			padding: 10px 0;
		}

		&__back_blau {
			margin: 0 20px 60px 0;
    		padding: 30px 30px 30px 130px;
		}
	  

		&__back_red {
			padding: 30px 130px 30px 30px;
			margin: 0 0 60px 20px;
		}

		&__back_yellow {
			margin: 0 20px 60px 0;
    		padding: 30px 30px 30px 130px;
		}

		&__back_green {
			padding: 30px 130px 30px 30px;
			margin: 0 0 60px 20px;
		}
	}
}

@include max_1100 {

	.was-gibt {
		height: 917px;
		
		&__m-wrap h3 {
			font-size: 35px;
			padding: 0;
			text-align: center;
			margin: 50px;
		}

		&__box {
			margin-top: 50px;
			-webkit-flex-wrap: wrap;
			    -ms-flex-wrap: wrap;
			        flex-wrap: wrap;
		}

		&__list {
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
		}

		&__item {
			max-width: 1200px;
		}

		&__item span{
			font-size: 40px;
		}

		&__item  p {
			font-size: 17px;
			padding: 10px 0;
		}

		&__back_blau {
			margin: 0 20px 60px -20px;
    		padding: 30px 30px 30px 130px;
		}
	  

		&__back_red {
			padding: 30px 130px 30px 30px;
			margin: 0 0 60px 20px;
		}

		&__back_yellow {
			margin: 0 20px 60px -20px;
    		padding: 30px 30px 30px 130px;
		}

		&__back_green {
			padding: 30px 130px 30px 30px;
			margin: 0 0 60px 20px;
		}
	}
}


@include max_750 {

	.was-gibt {
		&__m-wrap h3 {
			font-size: 30px;
			margin: 30px;
		}

		&__item span{
			font-size: 35px;
		}

		&__item  p {
			font-size: 16px;
		}
	}

}

@include max_480 {

	.was-gibt {
		height: 1000px;
		
		&__m-wrap h3 {
			font-size: 22px;
			margin: 30px;
		}

		&__item span{
			font-size: 30px;
		}

		&__item  p {
			font-size: 16px;
		}

		&__back_blau {
			margin: 0 20px 60px -20px;
    		padding: 30px 15px 30px 30px;
		}
	  

		&__back_red {
			padding: 30px 30px 30px 15px;
			margin: 0 0 60px 20px;
		}

		&__back_yellow {
			margin: 0 20px 60px -20px;
    		padding: 30px 15px 30px 30px;
		}

		&__back_green {
			padding: 30px 30px 30px 15px;
			margin: 0 0 60px 20px;
		}
	}

}