@import "mixins/base-mixins";
@import "mixins/media-mixins";
/* @import "sprites/png-sprite";  */


.arbeiten {
	background-image: url(../../images/desktop/arbeiten_back.jpg);
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: 50% 0;
	background-repeat: no-repeat;
	
	&__m-wrap {
		display: flex;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		
	}

	&__content {
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: center;
		        justify-content: center;
		height: 917px;    
	}

	&__content h3 {
		color: #2fb3e0;
		font-size: 24px;
		text-align: left;
		font-weight: bold;
		padding: 0 0 12px;
	}

	&__content p {
		color: #2fb3e0;
		font-size: 18px;
		text-align: left;
		font-weight: bold;
	}

	&__content span {
		color: #2fb3e0;
		font-size: 16px;
		text-align: left;
		font-weight: bold;
	}
	

	&__kostet {
		width: 100%;
		max-width: 710px;
		height: 195px;
		background-color: #FFF;
		text-align: left;
		padding: 25px 120px 25px 120px;
		position: relative;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
	}

	&__box-blue {
		height: 195px;
		width: 105px;
		background-color: #2FB3E1;
		position: absolute;
		right: 90%;
		top: 0;
		opacity: 0;
		-webkit-border-radius: 30px;
		        border-radius: 30px;
	}

	&__kostet .price {
		color: #e75693;
		font-size: 36px;
	}

	&__kostet .price-two {
		color: #e75693;
		font-size: 24px;
	}

	&__lange {
		width: 100%;
		max-width: 710px;
		height: 195px;
		background-color: #FFF;
		margin: 60px 0;
		text-align: left;
		padding: 25px 0 25px 120px;
		position: relative;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
	}

	&__box-red {
		height: 195px;
		width: 105px;
		background-color: #e75693;
		position: absolute;
		left: 90%;
		top: 0;
		opacity: 0;
		-webkit-border-radius: 30px;
		        border-radius: 30px;
	}

	&__lange .learn {
		color: #e75693;
		font-size: 18px;
	}

	&__lange .minute {
		color: #e75693;
		font-size: 18px;
	}

	&__wo {
		width: 100%;
		max-width: 710px;
		height: 195px;
		background-color: #FFF;
		text-align: left;
		padding: 25px 120px 25px 120px;
		position: relative;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
	}

	&__bonus {
		opacity: 0;
	}


	&__bonus img:nth-child(1){
		position: absolute;
		right: 15%;
    	top: 38%;
		z-index: 100;
		-webkit-transition: all .5s;
		   -moz-transition: all .5s;
		    -ms-transition: all .5s;
		     -o-transition: all .5s;
		        transition: all .5s;
	}

	&__bonus img:nth-child(1):hover{
		animation: bubble-anim 3s ease-in-out infinite;
	}

	&__bonus img:nth-child(2){
		position: absolute;
		right: 28%;
    	top: 48%;
		z-index: 100;
		-webkit-transition: all .5s;
		   -moz-transition: all .5s;
		    -ms-transition: all .5s;
		     -o-transition: all .5s;
		        transition: all .5s;
	}

	&__bonus img:nth-child(2):hover{
		animation: bubble-anim 4s ease-in-out infinite;
	}

	&__bonus img:nth-child(3){
		position: absolute;
		right: 26%;
    	top: 18%;
		z-index: 100;
		-webkit-transition: all .5s;
		   -moz-transition: all .5s;
		    -ms-transition: all .5s;
		     -o-transition: all .5s;
		        transition: all .5s;
	}

	&__bonus img:nth-child(3):hover{
		animation: bubble-anim 3s ease-in-out infinite;
	}

	&__boy img {
		position: absolute;
		z-index: 80;
		top: 24%;
		right: 13%;
	}

	&__boy button {
		width: 380px;
		height: 85px;
		display: block;
		position: absolute;
		bottom: 10%;
		right: 14%;
		color: #fff; 
		font-size: 36px;
		border: none; 
		-moz-border-radius: 21px;
		-webkit-border-radius: 21px;
		border-radius: 21px; 
		background-color: #e75593; 
		-webkit-box-shadow: 5px 5px 3px rgba(1,1,1, .3);
		        box-shadow: 5px 5px 3px rgba(1,1,1, .3);
		-webkit-transition: all .5s;
		   -moz-transition: all .5s;
		    -ms-transition: all .5s;
		     -o-transition: all .5s;
		        transition: all .5s;
	}

	&__boy button:hover{
		background-color: #2FB3E1;
		-webkit-box-shadow: none;
		        box-shadow: none;
		 bottom: 9.5%;
		 right: 13.5%;
	}

}


@keyframes bubble-anim {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scaleY(0.95) scaleX(1.05);
  }
  48% {
    transform: scaleY(1.1) scaleX(0.9);
  }
  68% {
    transform: scaleY(0.98) scaleX(1.02);
  }
  80% {
    transform: scaleY(1.02) scaleX(0.98);
  }
  97%, 100% {
    transform: scale(1);
  }
}

@include max_1760 {
	.arbeiten {
		&__bonus img:nth-child(1){
		right: 13%;
    	top: 38%;
		}
	}
}


@include max_1550 {
	.arbeiten {
		&__bonus img:nth-child(1){
		right: 16%;
    	top: 4%;
		}

		&__bonus img:nth-child(2){
			right: 16%;
	    	top: 32%;
		}

		&__bonus img:nth-child(3){
			right: 16%;
	    	top: 62%;
		}
	}
}

@include max_1450 {
	.arbeiten {
		&__boy img {
		    right: 10%;
		    top: 24%;
		}

		&__boy button {
		    right: 11%;
		}




	}
}

@include max_1300 {
	.arbeiten {
		height: 1900px;

		&__m-wrap {
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
		    -webkit-align-items: center;
		            align-items: center;
		}

		&__bonus {
			opacity: 1;
		}

		&__bonus img:nth-child(1){
			position: relative;
			right: 0; left: 0;
			padding: 0;
			display: block;
			margin: 0 auto;
	    	top: -3%;
		}

		&__bonus img:nth-child(2){
			position: relative;
			right: 0; left: 0;
			padding: 0;
			display: block;
			margin: 0 auto;
	    	top: 2%;
		}

		&__bonus img:nth-child(3){
			position: relative;
			right: 0; left: 0;
			padding: 0;
			display: block;
			margin: 0 auto;
	    	top: 8%;
		}

		&__boy {
			display: none;
		}
	}
}

@include max_600 {
	.arbeiten {

		&__box-blue {
			display: none;
		}

		&__box-red {
			display: none;
		}

		&__bonus img:nth-child(1){
	    	top: -6%;
		}

		&__bonus img:nth-child(2){
	    	top: 3%;
		}

		&__kostet {
			width: 97%;
		}

		&__lange {
			width: 97%;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-top-right-radius: 30px;
			border-bottom-right-radius: 30px;
		}

		&__wo {
			width: 97%;
		}

		&__content h3 {
			font-size: 22px;
			padding: 0;
		}

		&__content p {
			font-size: 16px;
			padding: 10px 0;
		}

		&__content span {
			font-size: 14px;
		}

		&__kostet {
		    height: auto;
		    padding: 15px 30px;
		    width: 97%;
		}

		&__lange {
		    height: auto;
		    padding: 15px 30px;
		    width: 97%;
		}

		&__wo {
		    height: auto;
		    padding: 15px 30px;
		    width: 97%;
		}
	}
}
