@import "mixins/base-mixins";
@import "mixins/media-mixins";
/* @import "sprites/png-sprite";  */

.arbeiten {
	background-image: url(../../images/desktop/arbeiten_back.jpg);
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: 50% 0;
	background-repeat: no-repeat;
	
	&__m-wrap {
		display: flex;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		
	}

	&__content {
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: center;
		        justify-content: center;
		height: 100vh;    
	}

	&__content h3 {
		color: #2fb3e0;
		font-size: 24px;
		text-align: left;
		font-weight: bold;
		padding: 0 0 12px;
	}

	&__content p {
		color: #2fb3e0;
		font-size: 18px;
		text-align: left;
		font-weight: bold;
	}

	&__content span {
		color: #2fb3e0;
		font-size: 16px;
		text-align: left;
		font-weight: bold;
	}
	

	&__kostet {
		width: 100%;
		max-width: 710px;
		height: 195px;
		background-color: #FFF;
		text-align: left;
		padding: 25px 120px 25px 120px;
		position: relative;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
	}

	&__box-blue {
		height: 195px;
		width: 105px;
		background-color: #2FB3E1;
		position: absolute;
		right: 90%;
		top: 0;
		opacity: 0;
		-webkit-border-radius: 30px;
		        border-radius: 30px;
	}

	&__kostet .price {
		color: #e75693;
		font-size: 36px;
	}

	&__kostet .price-two {
		color: #e75693;
		font-size: 24px;
	}

	&__lange {
		width: 100%;
		max-width: 710px;
		height: 195px;
		background-color: #FFF;
		margin: 60px 0;
		text-align: left;
		padding: 25px 0 25px 120px;
		position: relative;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
	}

	&__box-red {
		height: 195px;
		width: 105px;
		background-color: #e75693;
		position: absolute;
		left: 90%;
		top: 0;
		opacity: 0;
		-webkit-border-radius: 30px;
		        border-radius: 30px;
	}

	&__lange .learn {
		color: #e75693;
		font-size: 18px;
	}

	&__lange .minute {
		color: #e75693;
		font-size: 18px;
	}

	&__wo {
		width: 100%;
		max-width: 710px;
		height: 195px;
		background-color: #FFF;
		text-align: left;
		padding: 25px 120px 25px 120px;
		position: relative;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
	}
}


