@import "mixins/base-mixins";
@import "mixins/media-mixins";
/* @import "sprites/png-sprite";  */

.footer {
	background-image: url(../images/desktop/footer_back.jpg);
	background-position: 50% 0;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}