@import "mixins/base-mixins";
@import "mixins/media-mixins";
/* @import "sprites/png-sprite";  */

.footer {
	background-image: url(../images/desktop/footer_back.jpg);
	background-position: 50% 0;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	
	&__titel {
		margin: 300px 10px 0 0;
	}
	
	&__m-wrap h3 {
		color: #fff; 
		font-family: "Roboto";
		font-size: 80px;
		font-weight: bold;
		text-shadow: 5px 9px 13px rgba(0,0,0,.2);
		text-align: right; 
	}
}


