@import "mixins/base-mixins";
@import "mixins/media-mixins";
/* @import "sprites/png-sprite";  */

section.module.parallax{
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
}


 .parallax-2{
   background-image: url(../images/desktop/warum_back.jpg);
    height: 917px;
} 

.ich {

    &__m-wrap {
      display: flex;
      -webkit-justify-content: space-between;
              justify-content: space-between;
      padding: 0 20px;
      height: 917px;
    }

    &__bio {
      max-width: 600px;
      background-color: #FFF;
      padding: 0 70px 50px 70px;
      -webkit-box-shadow: 5px 5px 10px rgba(1,1,1, .2);
              box-shadow: 5px 5px 10px rgba(1,1,1, .2);
    }

    &__bio img:nth-of-type(1) {
       margin: 0 0 146px;
    }

    &__bio img:nth-of-type(2) {
       margin: 83px 0 -21px 110px;
    }


    &__bio h4 {
      color: #4b4b4b; 
      font-family: "Roboto";
      font-size: 18px;
      text-align: left;
    }

    &__bio span {
      color: #4b4b4b; 
      font-family: "Roboto";
      font-size: 16px;
      font-weight: bold;
      display: block;
    }

    &__bio span:nth-of-type(1) {
      display: block;
      margin: 10px 0 3px 0;
    }

    &__bio span:nth-of-type(2) {
      display: block;
      margin: 0 0 20px 0;
    }

    &__bio span:nth-of-type(3) {
      padding: 0 0 15px 0;
    }

    &__bio p {
      color: #4b4b4b; 
      font-family: "Roboto";
      font-size: 16px;
      margin: 15px 0;
    }


    &__form-block {
      max-width: 600px;
    }

    &__form-block h4 {
        font-size: 30px;
        color: #FFF;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #2fb3e1;
    }

    &__form-block h4:nth-of-type(1) {
       margin-top: 100px;
    }

    &__form {
      max-width: 520px;
      margin: 0 auto;
      height: auto;
    }

    &__form input {
      display: block;
      margin: 25px auto;
      width: 510px;
      height: 75px;
      color: #2FB3E1;
      -moz-border-radius: 24px;
      -webkit-border-radius: 24px;
      border-radius: 24px; 
      background-color: #fff;
      border: 2px solid #2FB3E1; 
    }

    &__form input[placeholder] {
      padding: 10px;
    }

    &__form textarea {
      display: block;
      margin: 0 auto 25px;
      color: #2FB3E1;
      width: 510px;
      height: 150px;
      -moz-border-radius: 24px;
      -webkit-border-radius: 24px;
      border-radius: 24px; 
      background-color: #fff;
      border: 2px solid #2FB3E1;  
    }

     &__form textarea[placeholder] {
      padding: 20px 10px 10px;
    }

    &__form button {
      text-align: center;
      display: block;
      width: 510px;
      height: 75px;
      color: #fff;
      -moz-border-radius: 24px;
      -webkit-border-radius: 24px;
      border-radius: 24px; 
      background-color: #e75693;
      border: none; 
      font-size: 30px;
      font-weight: bold;
      -webkit-box-shadow: 0 4px 5px #e6007e;
              box-shadow: 0 4px 5px #e6007e;
    }

     &__form button:hover {
      padding: 4px 0 0 4px;
      -webkit-box-shadow: none;
              box-shadow: none;
      -webkit-transition: all .4s ease;
         -moz-transition: all .4s ease;
          -ms-transition: all .4s ease;
           -o-transition: all .4s ease;
              transition: all .4s ease;
    }

    &__bottom {
      background-color: #e75693;
      color: #FFF;
      font-weight: bold;
      height: 140px;
      width: 100%;
      bottom:140px;
      padding: 0 260px;
      position: relative;
      z-index: 1000;
      display: flex;
      -webkit-justify-content: space-between;
              justify-content: space-between;
      -webkit-align-items: center;
              align-items: center;
    }

    &__first-box {
      display: flex;
      -webkit-justify-content: space-between;
              justify-content: space-between;
      width: 50%;
      margin: 0 130px 0 0;
      
    }

      &__second-box {
      display: flex;
      -webkit-justify-content: space-between;
              justify-content: space-between;
      width: 50%;
      margin: 0 0 0 130px;
    }

    &__bottom p {
      padding: 8px 0 0 0;
      font-size: 18px;
    }

    &__social img {
      margin: 14px 0 0 5px;
 
    }

    &__impressum a {
      text-decoration: underline;
       font-size: 18px;
      -webkit-transition: all .4s;
         -moz-transition: all .4s;
          -ms-transition: all .4s;
           -o-transition: all .4s;
              transition: all .4s;
    }

    &__impressum a:hover {
      color: #2FB3E1;
    }

}

// impressum
.popup-container__impressum {
    h4 {
      font-size: 28px;
      color: #333;
      text-align: center;
      margin: 30px 0;
      font-weight: bold;
    }

    h5 {
      font-size: 20px;
      color: #333;
      text-align: left;
      margin-bottom: 15px;
      font-weight: bold;
      padding-right: 50px;
    }

     p {
      font-size: 14px;
      color: #333;
      text-align: left;
      margin-bottom: 5px;
      padding-right: 60px;
    }

     p:last-child {
      margin-bottom: 50px;
    }

    a {
      font-size: 14px;
      color: blue;
      text-align: left;
    }

    .bild-box:after {
      content: "";
      display: table;
      clear: both;
      margin: 0 0 20px 20px;
    }

    .bild-box img {
      float: left;
      padding: 0 25px 0 0;
    }

    .bild-box p {
      font-weight: bold;
      font-size: 16px;
      padding-top: 115px;
    }
}



@include max_1760 {
  .ich {
        &__bottom {
        padding: 0 185px;
    }
  }
}

@include max_1550 {
  .ich {
        &__bottom {
        padding: 0 80px;
    }
  }
}

@include max_1450 {
  .ich {
        &__bottom {
        padding: 0 60px;
    }
  }
}

@include max_1300 {
  .ich {
        &__bottom {
        padding: 0 40px;
    }
  }
}


@include max_1200 {
  .section.ich {
      height: 1610px;
  }
  .ich {
    &__m-wrap {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-align-items: center;
              align-items: center;
      padding: 0;
    }

    &__bottom {
      bottom: -493px;
      padding: 0;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-align-items: center;
              align-items: center;
      -webkit-justify-content: space-between;
              justify-content: space-between;
      height: 200px;
    }

    &__first-box {
      margin: 0;
      width: 80%;
    }
    &__second-box {
      margin: 0;
      width: 80%;
    }
  }
}

@include max_650 {
  .section.ich {
    height: 1476px;
  }
  .ich {

    &__m-wrap {
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
      -webkit-align-items: center;
              align-items: center;
      -webkit-justify-content: space-around;
              justify-content: space-around;
    }

    &__bio {
        height: auto;
        padding: 20px 20px 50px 20px;
    }

    &__bio img:nth-of-type(1) {
       display: none;
    }

    &__bio img:nth-of-type(2) {
       margin: 0 0 30px;
       text-align: left;
    }

    &__form-block {
      max-width: 500px;
      width: 100%;
    }

    &__form-block h4 {
      font-size: 20px;
      padding: 0 5px;
    }

    &__form input {
      margin: 25px auto;
      width: 95%;
      height: 60px;
    }

    &__form textarea {
      margin: 0 auto 25px;
      width: 95%;
      height: 120px;  
    }


    &__form button {
      width: 95%;
      height: 60px;
      font-size: 20px;
      margin: 0 auto;
    }

    &__bottom {
      bottom: -360px;
    }

  }
}

@include max_600 {
  .section.ich {
      background-image: none;
      background-color: #BBD5E4;
      height: 1670px;
  }
  .ich {

    &__bottom {
      bottom: -353px;
      height: 400px;;
    }

    &__first-box {
      margin: 13px 0 19px;
      width: 80%;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-align-items: center;
              align-items: center;
      -webkit-justify-content: space-around;
              justify-content: space-around;
    }

    &__second-box {
      margin: 0 0 50px;
      width: 80%;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-align-items: center;
              align-items: center;
    }

    &__social {
      text-align: center;
    }

    &__bottom p {
        padding: 5px 0 0;
    }

    &__impressum {
      margin: 20px 0 0;
    }
  }

  .popup-container__impressum {
    h4 {
      font-size: 22px;
      margin: 20px 0;
      padding-right: 30px;
    }

    h5 {
      font-size: 18px;
      margin-bottom: 10px;
      padding-right: 30px;
    }

    p {
      padding-right: 30px;
    }

  }

  .bild-box img {
    float: none !important;
    text-align: center;
    display: block;
    padding: 0;
    margin: 0 auto; 
  }

  .bild-box p {
    padding-top: 10px !important;
    font-size: 14px;
    text-align: center;
  }
}

@include max_480 {
  .section.ich {
      height: 1834px;
  }

  .ich__bottom {
     bottom: -527px;
     height: 390px;
  }

  .ich__second-box {
      margin: 0 0 60px;
  }

  .ich__impressum {
      margin: 20px 0 0;
  }

}

@include max_360 {
  .section.ich {
      height: 1700px;
  }

  .ich__bottom {
     bottom: -400px;
     height: 390px;
  }


}