	<section class="section header">
		<div class="wrap header__wrap">
		 	<div class="m-wrap header__m-wrap">
				<div class="header__top">
					<nav class="nav">
						<div class="nav__button">
						    <span></span>
						    <span></span>
						    <span></span>
						</div>
						<ul class="nav__list">
							<li class="nav__item"><a href="#" class="nav__item--active">HOME</a></li>
							<li class="nav__item"><a href="#">WIR BITTEN AN</a></li>
							<li class="nav__item"><a href="#">WIE ARBEITEN WIR</a></li>
							<li class="nav__item"><a href="#">ÜBER MICH</a></li>
							<li class="nav__item"><a href="#">КONTAKT</a></li>
						</ul>
					</nav>
					<div class="header__phone">
						<p>TEL:0151-22275739</p>
					</div>
				</div>
				<div class="header__titel">
					<h1><span>JUNGER</span>WEBDESIGNER</h1>
					<h2>INDIVIDUELLER WEBDESIGNER KURS FÜR KINDER</h2>
					<p>SCHNUPPER KURS</p>
				</div>

		 	</div>
		</div>
	</section>

		