	<section class="section header">
		<div class="wrap header__wrap">
		 	<div class="m-wrap header__m-wrap">
				<div class="header__top">
					<nav class="nav">
						<div class="nav__button">
						    <span></span>
						    <span></span>
						    <span></span>
						</div>
						<ul class="nav__list">
							<li class="nav__item"><a href="#" class="nav__item--active">HOME</a></li>
							<li class="nav__item">
								<a href="#">
									<span>!</span>
									<span>!</span>
									<span>!</span>
									<span>!</span>
								</a>
							</li>
							<li class="nav__item"><a href="#">VIER GRÜNDE</a></li>
							<li class="nav__item"><a href="#">VIER KENNTNISSE</a></li>
							<li class="nav__item"><a href="#">PREIS</a></li>
							<li class="nav__item"><a href="#">КONTAKT</a></li>
						</ul>
					</nav>
					<div class="header__phone">
						<p>TEL:04351-883858</p>
						<p>0151-22275739</p>
					</div>
				</div>
				<div class="header__titel">
					<h1><span>JUNGE</span>WEBDESIGNER</h1>
					<h2>INDIVIDUELLER WEBDESIGNER KURS FÜR KINDER AB 10 JAHRE</h2>
					<p>SCHNUPPER KURS</p>
				</div>

		 	</div>
		</div>
	</section>

		