
	<section class="section header" id="home">
		<div class="wrap header__wrap">
		 	<div class="m-wrap header__m-wrap">
				<div class="header__top">
					<nav class="nav">
						<div class="nav__button">
						    <span></span>
						    <span></span>
						    <span></span>
						</div>
						<ul class="nav__list">
							<li class="nav__item"><a href="#home" class="nav__item--active">HOME</a></li>
							<li class="nav__item">
								<a href="#warum">
									<span>!</span>
									<span>!</span>
									<span>!</span>
									<span>!</span>
								</a>
							</li>
							<li class="nav__item"><a href="#grund">VIER GRÜNDE</a></li>
							<li class="nav__item"><a href="#kenntnisse">VIER KENNTNISSE</a></li>
							<li class="nav__item"><a href="#preis">PREIS</a></li>
							<li class="nav__item"><a href="#kontakt">КONTAKT</a></li>
						</ul>
					</nav>
					<div class="header__phone">
						<p>TEL:04351-883858</p>
						<p>0151-22275739</p>
					</div>
				</div>
				<div class="header__titel">
					<h1><span>WEBDESIGN LERNEN</span>FÜR KINDER AB 10 JAHRE</h1>
					<h2>INDIVIDUELLER WEBDESIGN KURS IN ECKERNFÖRDE</h2>
					<p>NACH 30 UNTERRICHTSEINHEITEN <br>EINE KOMPLEXE INTERNETSEITE ERSTELLEN</p>
				</div>

		 	</div>
		</div>
	</section>

		