	<section class="section bitten">
		<div class="wrap bitten__wrap">
		 	<div class="m-wrap bitten__m-wrap">
				<h3>
					<span>!</span>
					<span>!</span>
					<span>!</span>
					<span>!</span>
				</h3>
		 		<div class="bitten__content">
		 			<div class="bitten__prise flip">
					  	<div class="front">
					      	<img src="../images/desktop/bitten_prise.png" alt="prise">
					      	<p>
					      		Beruf <br>der Zukunft 
							</p>
					  	</div>
					  	<div class="back">
					      	<img src="../images/desktop/bitten_prise.png" alt="prise">
					      	<p>
					      		Kinder nehmen Wissen wie ein Schwamm auf. 
					      		Nutzen Sie dieses Potenzial, um die großen 
					      		Chancen in der Zukunft nicht zu verpassen.
							</p>
					 	</div>
		 			</div>
		 			<div class="bitten__cloud flip">
						<div class="front">
					      	<img src="../images/desktop/bitten_cloud.png" alt="cloud">
					      	<p>
					      		Versteckte <br>Fähigkeiten 
							</p>
					  	</div>
					  	<div class="back">
					      	<img src="../images/desktop/bitten_cloud.png" alt="cloud">
					      	<p>
					      		Ihr Kind lernt Webdesign kennen.Wer weiß,
					      		vielleicht entdeckt es neue Talente?
							</p>
					 	</div>
		 			</div>
		 			<div class="bitten__uhu flip">
		 				<div class="front">
					      	<img src="../images/desktop/bitten_uhu.png" alt="uhu">
					      	<p>
					      		Modernes Kind <br>innovatives Wissen
							</p>
					  	</div>
					  	<div class="back">
					      	<img src="../images/desktop/bitten_uhu.png" alt="uhu">
					      	<p>
					      		Innovative Wissen hilft Ihrem Kind sein 
					      		Horizont zu erweitern und Erfolg im Leben zu erreichen.
							</p>
					 	</div>
		 			</div>
		 			<div class="bitten__time flip">
		 				<div class="front">
					      		<img src="../images/desktop/bitten_time.png" alt="time">
					      	<p>
					      		Neues Konzept <br>des Lernens
							</p>
					  	</div>
					  	<div class="back">
					      	<img src="../images/desktop/bitten_time.png" alt="time">
					      	<p>
					      		Keine überflüssige Theorie. Der Kurs besteht nur 
					      		aus relevanten Informationen und einer Menge Übung.
							</p>
					 	</div>
		 			</div>
		 		</div>
		 	</div>
		</div>
	</section>