	<section class="section bitten module parallax parallax-1">
		<div class="wrap bitten__wrap">
		 	<div class="m-wrap bitten__m-wrap">
				<h3><span class="was">WAS </span>BITTEN WIR<span class="an"> AN</span></h3>
		 		<div class="bitten__content">
		 			<div class="bitten__prise flip">
					  	<div class="front">
					      	<img src="../images/desktop/bitten_prise.png" alt="prise">
					      	<p>
					      		Beruf der Zukunft 
							</p>
					  	</div>
					  	<div class="back">
					      	<img src="../images/desktop/bitten_prise.png" alt="prise">
					      	<p>
					      		Kinder nehmen Wissen 
								wie ein Schwamm auf, dieses Potenzial 
								soll man nutzen, um die großen Chancen 
								in der Zukunft nicht zu verpassen.
							</p>
					 	</div>
		 			</div>
		 			<div class="bitten__cloud flip">
						<div class="front">
					      	<img src="../images/desktop/bitten_cloud.png" alt="cloud">
					      	<p>
					      		Versteckte Fähigkeiten 
							</p>
					  	</div>
					  	<div class="back">
					      	<img src="../images/desktop/bitten_cloud.png" alt="cloud">
					      	<p>
					      		Ihr Kind lernt den Webdesign kennen, und wer weiß, vielleicht wird es ihm gefallen.
							</p>
					 	</div>
		 			</div>
		 			<div class="bitten__uhu flip">
		 				<div class="front">
					      	<img src="../images/desktop/bitten_uhu.png" alt="uhu">
					      	<p>
					      		Modernes Kind innovatives Wissen
							</p>
					  	</div>
					  	<div class="back">
					      	<img src="../images/desktop/bitten_uhu.png" alt="uhu">
					      	<p>
					      		Das innovative Wissen hilft Ihrem Kind 
								sein Horizont zu erweitern und den Erfolg 
								im Leben zu erreichen.
							</p>
					 	</div>
		 			</div>
		 			<div class="bitten__time flip">
		 				<div class="front">
					      		<img src="../images/desktop/bitten_time.png" alt="time">
					      	<p>
					      		Die Zeit ist die teuerste Ressource
							</p>
					  	</div>
					  	<div class="back">
					      	<img src="../images/desktop/bitten_time.png" alt="time">
					      	<p>
					      		Der Kurs besteht nur 
								aus relevanten Informationen und 
								eine Menge Übung.
							</p>
					 	</div>
		 			</div>
		 		</div>
		 	</div>
		</div>
	</section>