	<section class="section warum">
		<div class="wrap warum__wrap">
		 	<div class="m-wrap warum__m-wrap">
				<div class="warum__blue">
					<div class="warum__titel">
						<span>1</span>
						<h3>Gefällt Ihnen nicht, was Ihr Kind <br>
							in seiner Freizeit macht?
						</h3>
					</div>
					<p>
						Heutzutage haben viele Eltern keine Zeit, um verfolgen zu können, womit sich ihre Kinder in der Freizeit beschäftigen. Interessiert sich ihr Kind für etwas sinnvolles? Oder sitzt es nur am Fernseher und spielt Videospiele? Beim sinnlosen Zeitvertreib, versäumt ihr Kind seine Potenziale und es wird ihm viel schwieriger fallen, sich in der Zukunft zu orientieren. 
					</p>
					<div class="warum__footer">
						<img src="../images/desktop/warum1.png" alt="warum1">
						<span>
							Bei mir ist Ihr Kind 1,5 Stunden mit dem Webdesign und <br> 10-Finger-System unter unserer Aufsicht beschäftigt.
						</span>
					</div>
				</div>
				<div class="warum__pink">
					<div class="warum__titel">
						<span>2</span>
						<h3>Ihr Kind ist schlau und neugierig, aber Sie <br>
    						wissen nicht, was Sie ihm anbieten können?
						</h3>
					</div>
					<p>
						Haben Sie keine Zeit, und manchmal keine Kraft, die Wissensdurst ihres Kindes zu stillen? Haben Sie Angst, dass er diese Begeisterung verlieren kann, wenn Sie ihm nicht geben, was er sucht? Mangel an der Zeit und Kraft dürfen die Interessen und zukünftige Möglichkeiten Ihres Kindes nicht beeinflussen.
					</p>
					<div class="warum__footer">
						<img src="../images/desktop/warum2.png" alt="warum2">
						<span>
							Mangel an der Zeit und Kraft dürfen die Interessen und zukünftige Möglichkeiten Ihres Kindes nicht beeinflussen.
						</span>
					</div>
				</div>
				<div class="warum__pink">
					<div class="warum__titel">
						<span>3</span>
						<h3>Ihr Kind hat Interesse von neuen Technologien <br>
							und lernt sie sehr schnell?
						</h3>
					</div>
					<p>
						Es überrascht Sie, wie schnell Ihr Kind sich im Internet oder am Computer zu recht 
						findet? Die Leichtigkeit, mit der es eine Lösung für Ihr Problem auf dem Computer 
						oder Smartphone findet? Sie sehen, dass Ihr Kind sich ständig für neue Technologien interessiert?
					</p>
					<div class="warum__footer">
						<img src="../images/desktop/warum2.png" alt="warum2">
						<span>
							Geben Sie Ihrem Kind die Möglichkeit, in die Welt 
							der neuen Technologien zu tauchen. Dadurch wird vielleicht sein zukünftiger Beruf bestimmen und unsere Welt bekommt einen neuen Genie.
						</span>
					</div>
				</div>
				<div class="warum__blue">
					<div class="warum__titel">
						<span>4</span>
						<h3>Ihr Kind will Webdesign lernen, <br>
							aber weiß nicht wo und wie?
						</h3>
					</div>
					<p>
						Ihr Kind interessiert sich für Webdesign und alles was damit verbunden ist? Es weiß 
						aber nicht, wo es anfangen soll, wo es die aktuelle und genaue Information bekommen könnte? Und bei der Suche nach den richtigen Informationen verliert es zu viel Zeit. 
						Diese verlorene Zeit könnte es viel besser nutzen. Außerdem verliert ihr Kind bei ständiger Suche die Motivation.
					</p>
					<div class="warum__footer">
						<img src="../images/desktop/warum1.png" alt="warum1">
						<span>
							Das Wissen und Information sollen korrekt und verständlich dargestellt  werden, damit das Kind 
							es jeder Zeit praktisch Umsetzen kann. Und ganz wichtig, der Unterricht muss ihrem Kind auch Spaß machen.
						</span>
					</div>
				</div>
		 	</div>
		</div>
	</section>