	<section class="section warum module parallax parallax-1">
		<div class="wrap warum__wrap">
		 	<div class="m-wrap warum__m-wrap">
				<div class="warum__blue">
					<div class="warum__titel">
						<span>1</span>
						<h3>Gefällt Ihnen nicht, was Ihr Kind
							in seiner Freizeit macht?
						</h3>
					</div>
					<p>
						Berufsbedingt haben immer mehr Eltern weniger Zeit um zu verfolgen womit sich Ihre Kinder in der Freizeit beschäftigen.
						Sinnlose Videospiele und der Zeitvertreib vor dem Fernseher schaden der Gesundheit und der Entwicklung Ihres Kindes.
 
					</p>
					<div class="warum__footer">
						<img src="../images/desktop/warum1.png" alt="warum1">
						<span>
							Unter meiner  Aufsicht ist Ihr Kind eine Stunde mit dem Webdesign beschäftigt und schöpft damit sein Potenziale aus. 
						</span>
					</div>
				</div>
				<div class="warum__pink">
					<div class="warum__titel">
						<span>2</span>
						<h3>Ist Ihr Kind schlau und neugierig? Sie wissen aber  nicht was Sie ihm bieten können?
						</h3>
					</div>
					<p>
						Haben Sie wenig  Zeit, oder manchmal keine Kraft, den Wissensdurst Ihres Kindes zu stillen? Sind Sie besorgt, dass Ihr Kind die Begeisterung zum Lernen verlieren könnte und stadtdessen seine Zeit  unproduktiv gestaltet?
 
					</p>
					<div class="warum__footer warum__pink-first-row">
						<img src="../images/desktop/warum2.png" alt="warum2">
						<span>
							Ihre Kraft  und Zeitmangel dürfen die Interessen und zukünftigen Möglichkeiten Ihres Kindes nicht beeinflussen.
						</span>
					</div>
				</div>
				<div class="warum__pink">
					<div class="warum__titel">
						<span>3</span>
						<h3>Hat Ihr Kind  Interesse an den neusten Technologien?</h3>
					</div>
					<p>
						Überrascht es Sie, wie schnell sich Ihr Kind  im Internet zurecht findet?Findet Ihr Kind mit Leichtigkeit schnelle Lösungen bei Computerproblemen und interessiert sich immer mehr für die neusten Technologien? 

					</p>
					<div class="warum__footer warum__pink-second-row">
						<img src="../images/desktop/warum2.png" alt="warum2">
						<span>
							Geben Sie Ihrem Kind die Möglichkeit seine Interessen weiter zu verfolgen  und sein Horizont zu erweitern. 
						</span>
					</div>
				</div>
				<div class="warum__blue">
					<div class="warum__titel">
						<span>4</span>
						<h3>Ihr Kind möchte Webdesign lernen, weiß aber nicht wo und wie?</h3>
					</div>
					<p>
						Ist Ihr Kind an Webdesign interessiert, weiß aber nicht womit  man beginnen sollte? Die ständige Suche nach den neusten Informationen  nimmt zu viel Zeit in Anspruch und senkt dadurch die Motivation Ihrer Kinder. 

					</p>
					<div class="warum__footer warum__blue-second-row">
						<img src="../images/desktop/warum1.png" alt="warum1">
						<span>
							Für die richtige praktische Umsetzung muss das Wissen korrekt, verständlich und mit Spaß vermittelt werden. 
						</span>
					</div>
				</div>
		 	</div>
		</div>
	</section>