	<section class="section arbeiten">
		<div class="wrap arbeiten__wrap">
		 	<div class="m-wrap arbeiten__m-wrap">
				<h3><span class="wie">WIE</span>ARBEITEN<span class="wir">WIR</span></h3>
		 		<div class="arbeiten__content">
		 			<div class="arbeiten__clouds">
		 				<img src="../images/desktop/arbeiten_bonus1.png" alt="bonus1">
		 				<img src="../images/desktop/arbeiten_bonus2.png" alt="bonus2">
		 				<img src="../images/desktop/arbeiten_bonus3.png" alt="bonus3">
		 			</div>
		 			<div class="arbeiten__boy">
	 					<img src="../images/desktop/arbeiten_junge.png" alt="junge">
	 					<button class="start">DRÜCK MICH</button>
	 				</div>
		 			<div class="arbeiten__bonus">
		 				<h3><span>1.</span> BONUS</h3>
		 				<p>Ich gebe alle notwendigen Programme.</p>
		 				<h3><span>2.</span> BONUS</h3>
		 				<p>10-Finger-System Deutsch und Englisch. 
							Sie bekommen den kostenlosen Zugang zum Online-Kurs 
							für 6 Monate, <span class="kurs">was normal 18 Euro kostet.</span>
						</p>
		 				<h3><span>3.</span> BONUS</h3>
		 				<p>Die erste Schnupperstunde  ist kostenlos.</p>
		 			</div>
		 			<div class="arbeiten__kosten">
		 				<h3>Wie erfolgt der Prozess des Lernens?</h3>
		 				<p>Der Unterricht findet bei mir zu Hause oder via Skype statt. 
							<span> Sie bekommen alle notwendigen Programme.</span> Der Unterricht 
							dauert ca. 1,5 Stunden. Wobei 1 Stunde fürs Programmiren
							reserviert ist und 30 min. für das 10-Finger System. Nach jeder
							Lektion, bekommt das Kind Hausaufgaben.<span> Unterricht nach Terminvereinbarung. 
							Sie haben 24 Stunden Zeit um den Termin zu verschieben oder abzusagen.</span>  
						</p>
						<h3>Der Kurs besteht aus 30 Lektionen.</h3>
						<h4>10 Lektionen Einführung in Webdesign und 
							Erstellen einer Web-Seite-Struktur
						</h4>
						<ul>
							<li><span></span>Arbeiten mit Blöcken und Styling</li>
							<li><span></span>Schriften, Bildern und Styling</li>
							<li><span></span>Arbeiten mit Farben</li>
							<li><span></span>Erstellen einer Website </li>
						</ul>
						<h4>20 Lektionen die Vertiefung in HTML und CSS</h4>
						<ul>
							<li><span></span>Animation</li>
							<li><span></span>Menü</li>
							<li><span></span>Slider</li>
							<li><span></span>Effekte</li>
							<li><span></span>Formen und Tabellen</li>
							<li><span></span>Erstellen einer Website und anschließendes Hochladen auf  den Server.</li>
						</ul>
						<div class="arbeiten__prise">
							<p>EIN UNTERRICHT KOSTET 30 €</p>
						</div>
		 			</div>
		 		</div>
		 	</div>
		</div>
	</section><span></span>