	<section class="section was-gibt" id="kenntnisse">
		<div class="wrap was-gibt__wrap">
		 	<div class="m-wrap was-gibt__m-wrap">
				<h3>Was gibt Ihrem Kind der Webdesign Kurs</h3>
		 	</div>
		 	<div class="was-gibt__box">
				<div class="was-gibt__list">
					<div class="was-gibt__item was-gibt__back_blau">
						<span>1.&nbsp;</span>
						<p>Nach dem Webdesign Kurs wird sich Ihr Kind die wichtigsten Bereiche des Webdesigns  beherrschen.</p>
					</div>
					<div class="was-gibt__item was-gibt__back_red">
						<span>2.&nbsp;</span>
						<p>Ihr Kind erlernt die Auszeichnungssprache HTML und CSS von klein auf. Das ist das Fundament im Webdesign. Ohne funktioniert keine Webseite.</p>
					</div>
				</div>
				<div class="was-gibt__list">
					<div class="was-gibt__item was-gibt__back_yellow">
						<span>3.&nbsp;</span>
						<p>Ihr Kind lernt die neusten Trends und Internet Technologien kennen. 
							Dabei entdeckt Ihr Kind  neue Möglichkeiten die im Web vorhanden sind.</p>
					</div>
					<div class="was-gibt__item was-gibt__back_green">
						<span>4.&nbsp;</span>
						<p>Schon nach 30 Unterrichtseinheiten wird Ihr Kind eine anspruchsvolle Internetseite erstellen können.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>