	<section class="section was-gibt">
		<div class="wrap was-gibt__wrap">
		 	<div class="m-wrap was-gibt__m-wrap">
				<h3>Was gibt Ihrem Kind der Kurs</h3>
		 	</div>
		 	<div class="was-gibt__box">
			<div class="was-gibt__item was-gibt__back_blau">
				<span>1.&nbsp;</span>
				<p>Nach dem Kurs wird Ihr Kind sich in der Programmiersprache wie „ein Fisch im Wasser“ fühlen.</p>
			</div>
			<div class="was-gibt__item was-gibt__back_red">
				<span>2.&nbsp;</span>
				<p>Das Kind erlernt HTML und CSS. Das ist das Fundament im Webdesign. Ohne funktioniert keine Webseite.</p>
			</div>
			<div class="was-gibt__item was-gibt__back_yellow">
				<span>3.&nbsp;</span>
				<p>Das Kind lernt die neusten Internet Technologien und Trends kennen. Es entdeckt die Möglichkeiten, die im Web stecken.</p>
			</div>
			<div class="was-gibt__item was-gibt__back_green">
				<span>4.&nbsp;</span>
				<p>Schon nach 30 Unterrichtstunden wird Ihr Kind eine komplexe Webseite bauen können.</p>
			</div>
		</div>
		</div>
	</section>