	<section class="section arbeiten">
		<div class="wrap arbeiten__wrap">
		 	<div class="m-wrap arbeiten__m-wrap">
				<div class="arbeiten__content">
					<div class="arbeiten__kostet">
						<div class="arbeiten__box-blue"></div>
						<h3>Ihre Investition</h3>
						<p>Ein Kind: <span class="price">80 €</span> im Monat.</p>
						<span>Jedes weitere gleichzeitig angemeldete Geschwisterkind zahlt <span class="price-two">40 €</span>.</span>
					</div>
					<div class="arbeiten__lange">
					<div class="arbeiten__box-red"></div>
						<h3>Ihre Zeit</h3>
						<p>Der Kurs beinhaltet <span class="learn">30 Unterrichtstunden</span> und läuft über vier Monate. </p>
						<p>Der Unterricht  findet an zwei Tagen in der Woche statt.</p>
						<p>Eine Unterrichtstunde dauert etwa <span class="minute">60 min</span>.</p>
						<span>Nach jedem Unterricht bekommt Ihr Kind Hausaufgaben. </span>
					</div>
					<div class="arbeiten__wo">
					<div class="arbeiten__box-blue"></div>
						<h3>Veranstaltungsort</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet assumenda atque delectus quis itaque cumque neque iste</p>
						<span>Starttermin:</span>
					</div>
				</div>
				<div class="arbeiten__bonus"></div>
		 	</div>
		</div>
	</section>