	<meta charset="UTF-8">

	<meta name="description" content="Möchten Sie Webdesigner werden? In Eckernförde bieten wir  Webdesign Kurse für Kinder und Erwachsene an. Sie werden Webdesign lernen und nach 30 Unterrichtseinheiten eine komplexe  Internetseite erstellen können.">
	<meta name="keywords" content="Webdesigner werden, Webdesign Kurs, Webdesign lernen, Internetseite erstellen">
	<meta id="viewport" name="viewport" content="width=device-width">

	<title>Webdesign lernen für Kinder und Erwachsene in Eckernförde</title>