<!--<link type="image/x-icon" href="favicon.ico" rel="shortcut icon">
	<script>
		if (screen.width <= 750) {
		    document.location = "../mobile/" + document.location.search;
		}
	</script> -->

	<style>
		/* pre-loader */
		.loader{border:16px solid #f3f3f3;border-top:16px solid #3498db;border-radius:50%;width:100px;height:100px;margin:25% auto;animation:spin 2s linear infinite}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}.pre-loader{position:fixed;z-index:100;top:0;right:0;bottom:0;left:0;background-color:#FFF;-webkit-transition:all .25s;-moz-transition:all .25s;-ms-transition:all .25s;-o-transition:all .25s;transition:all .25s}body.pre-loaded .pre-loader{-webkit-transform:translate3d(0,-100%,0);-moz-transform:translate3d(0,-100%,0);-ms-transform:translate3d(0,-100%,0);-o-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}
		/* here compressed css from head.css */
	</style>
	<link rel="stylesheet" href="css/head.css">


	<?php include('track/head.php'); ?>